language: php
php:
  - 7.2
  - 7.3
  - 7.4snapshot
  - nightly
matrix:
  include:
    - php: 7.2
      env: dependencies=lowest
    - php: 7.2
      env: dependencies=highest
    - php: 7.3
      env: dependencies=lowest
    - php: 7.3
      env: dependencies=highest
  allow_failures:
    - php: 7.4snapshot
    - php: nightly
before_script:
  - composer self-update
  - if [ -z "$dependencies" ]; then composer install; fi;
  - if [ "$dependencies" = "lowest" ]; then composer update --prefer-lowest -n; fi;
  - if [ "$dependencies" = "highest" ]; then composer update -n; fi;
script:
  - ./vendor/bin/phpunit -c phpunit.xml --coverage-clover=coverage.clover
  - ./vendor/bin/phpstan analyse -l max src
  - ./vendor/bin/phpstan analyse -l max -c .phpstan.test.neon test
  - if [ "$TRAVIS_PHP_VERSION" != "nightly" ] && [ -z "$dependencies" ]; then ./vendor/bin/php-cs-fixer fix --dry-run --verbose --config .php_cs.dist ./src ./test ; fi
after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover